.upcoming-films {
  font-size: 1.2em;
  background-color: lightgray;
  padding:10px;
  border: 3px solid black;
  margin: 35px auto;
  width: 500px;
}

.film-item {
  color: rgb(56, 56, 179);
  font-size: 1.3em;
}

a{
  text-decoration: none;
}

.more-films-btn {
  background-color: rgb(124, 155, 196);
  color: rgb(56, 56, 179);
  font-size: 1.3em;
  padding: 15px;
  margin:25px;
  border: 3px solid black;
}
